---
interface Props {
	img: string;
  titulo: string,
  desc: string,
  tech1: string
  tech2: string
  tech3: string,
  pagina: string,
  textBtn: string,
  clasesBtn: string
}
const { img, titulo, desc, tech1, tech2, tech3, pagina, textBtn, clasesBtn } = Astro.props;
---

<!-- 
<article class="flex flex-row min-h-[84px] sm:flex-col sm:w-[300px] sm:mb-2 lg:w-[340px]"> 
  <a href={pagina} class="flex flex-row items-end mr-4 sm:mr-0">
    <img src={img} alt="equirent" class="w-[140px] min-w-[150px] min-h-[83px] rounded-xl sm:w-[300px] sm:h-[150px] lg:w-[340px] lg:h-[170px]">
    <div class="font-semibold text-xs bg-primary-color ml-[-45px] mb-[5px] py-[2px] px-[4px] rounded-[4px] flex justify-center items-center">{anio}</div>
  </a>
  <div class="flex flex-col gap-2 sm:w-full pr-3 sm:gap-1 sm:mt-2">
    <a class="text-base font-semibold sm:text-base" href={pagina}>{titulo}</a>
    <p class="text-base font-semibold text-text-color-secondary">{techs}</p>
  </div>
</article> -->

<article class="w-full flex flex-col mb-3 bg-terciary-color p-6 rounded-[20px] border border-[#ffffff11] md:flex-row md:gap-4 lg:gap-6">
  <img src={img} alt="imgProyect" class="w-full h-[224px] rounded-xl sm:h-[340px] md:w-[380px] md:h-[260px] lg:w-[400px] lg:h-[260px]">
  <div class="md:flex md:flex-col md:justify-between md:items-start">
    <div>
      <div class="flex flex-row gap-2 mt-5 md:mt-0">
        <h6 class="py-1 px-2 text-sm text-text-color-secondary font-semibold border border-text-color-secondary rounded-2xl" >{tech1}</h6>
        <h6 class="py-1 px-2 text-sm text-text-color-secondary font-semibold border border-text-color-secondary rounded-2xl" >{tech2}</h6>
        <h6 class="py-1 px-2 text-sm text-text-color-secondary font-semibold border border-text-color-secondary rounded-2xl" >{tech3}</h6>
      </div>
      <h4 class="font-extrabold text-lg text-text-color-primary mt-4 lg:text-xl">{titulo}</h4>
      <p class="font-medium text-base text-text-color-secondary mt-3 mb-5 md:mb-4 md:mt-2">{desc}</p>
    </div>
    <a href={pagina} class={clasesBtn}>{textBtn}</a>
  </div>
</article>